extends ./MainTemplate.jade

block title
  title Alarmes

block content
  div(class='container-fluid content')
        
    div(ng-controller='alarmcontroller')  
       
        div(class='col-xs-12 col-md-7')
            div(ng-controller='servercontroller')            
                div(ng-repeat='x in servers | filter: {connected: false}' class="label label-danger")                     
                    span(class='glyphicon glyphicon-warning-sign')   {{ x.description }} ( {{x.username}}@{{x.address}} ) disconnected

            //- Desktop buttons 
            div(class='actions hidden-xs hidden-sm')
                button(class='button-secondary',
                        ng-click='handleSelected()',
                        ng-show='selected.length > 0') Acquitter {{ selected.length }} alarme{{ (selected.length > 1)?'s':'' }}
                button(class='button-primary',
                        ng-click='handleall()') Tout acquitter

             //- Mobile buttons 
            div(class='actions hidden-lg hidden-md')
                button(class='button-secondary full-width',
                        ng-click='handleSelected()',
                        ng-show='selected.length > 0') Acquitter {{ selected.length }} alarme{{ (selected.length > 1)?'s':'' }}
                button(class='button-primary full-width',
                        ng-click='handleall()',
                        ng-show='currentalarm == undefined') Tout acquitter
                button(class='button-secondary',
                    ng-show='currentalarm != undefined',
                    ng-click='shownextalarm()') Alarme suivante
                button(class='button-primary',
                    ng-show='currentalarm != undefined',
                    ng-click='markcurrentashandled($event)') Acquitter


            table(class='alarmtable hidden-sm hidden-xs')
                thead
                  tr
                    th(class='check')
                      input(type='checkbox' ng-click='selectAll()' ng-checked='isSelectedAll')
                    th(class='play')
                    th(class='date') Date
                    th(class='camera') Caméra
                    th(class='site') Site
                    th(class='handle') 
                  tbody
                    tr(ng-repeat='x in alarms | filter: {handled:0} | orderBy: "-timestamp"', 
                    ng-click='playalarm(x.id)'
                    id='alarm-{{ x.id }}'
                    ng-class="{active: x.id==currentalarm.id}")
                      td(class='check')
                        input(type='checkbox' ng-checked='isSelected(x.id)' ng-click='updateSelection(x.id, $event)')
                      td(class='play')
                        span(class='glyphicon glyphicon-play')
                      td(class='date')
                         {{ x.timestamp*1000 | date:'dd/MM/yyyy - HH:mm' }}
                      td(class='camera') {{ x.cameraname }}
                      td(class='site') {{ x.sitename }}
                      td(class='handle')
                        button(ng-click='markashandled(x.id, $event)', ng-show='x.nbimages>0', title='Acquitter',class="button-primary") Acquitter


            div(class='alarm-accordion hidden-md hidden-lg' id='accordion')
                div(ng-repeat='x in alarms | filter: {handled:0} | orderBy: "-timestamp"', class='panel accordion-item')
                    a(href='#alarm{{x.id}}',
                      class='alarm-date',
                      ng-click='playalarm(x.id)',
                      data-toggle='collapse',
                      data-parent='#accordion') 
                        input(type='checkbox',
                              ng-checked='isSelected(x.id)',
                              ng-click='updateSelection(x.id, $event)',
                              ng-show='currentalarm === undefined')
                        {{ x.timestamp*1000 | date:'dd/MM/yyyy - HH:mm' }}
                    div(id='alarm{{x.id}}', class='collapse alarm-details')
                        imageplayer(imgwidth=370, imgheight=320, alarm='currentalarm')
                        p Caméra : {{ x.cameraname }}
                        p Site : {{ x.sitename }}

        div(class='col-xs-12 col-md-5 desktop-video-player hidden-xs hidden-sm')
            div(class='h6')  
                span(ng-show='currentalarm!=undefined') {{currentalarm.timestamp | asdate}} {{currentalarm.cameraname}} ({{currentalarm.sitename}})
                span(ng-show='currentalarm==undefined') No alarm selected
            imageplayer(imgwidth=320, imgheight=240, alarm='currentalarm')
                    

  script(src='static/AlarmData.js')
  script(src='static/EventSource4IE.js')
  script(src='static/EventSource.js')
  script(src='static/alarmviewer.js')
  script(src='static/serverviewer.js')
  script(src='static/accordion.js')
 
