extends ./MainTemplate.jade

block title
  title Alarmes

block content
  div(class='container-fluid content')
        
    div(ng-controller='alarmcontroller')
       
        div(class='col-xs-12 col-md-7')

            //- Desktop buttons
            div(class='actions hidden-xs hidden-sm')
                button(class='button-secondary',
                        ng-click='handleSelected()',
                        ng-show='selected.length > 0') Acquitter {{ selected.length }} alarme{{ (selected.length > 1)?'s':'' }}
                button(class='button-primary',
                        ng-click='handleall()',
                        ng-show='getNotHandledAlarms().length > 0') Tout acquitter

             //- Mobile buttons 
            div(class='actions hidden-lg hidden-md')
                button(class='button-secondary full-width',
                        ng-click='handleSelected()',
                        ng-show='selected.length > 0') Acquitter {{ selected.length }} alarme{{ (selected.length > 1)?'s':'' }}
                button(class='button-primary full-width',
                        ng-click='handleall()',
                        ng-show='currentalarm === undefined && getNotHandledAlarms().length > 0') Tout acquitter
                button(class='button-secondary',
                    ng-show='currentalarm != undefined',
                    ng-click='currentalarm = undefined') Retour
                button(class='button-primary',
                    ng-show='currentalarm != undefined',
                    ng-click='markcurrentashandled($event)') Acquitter

            div(class='table alarmtable hidden-sm hidden-xs')
              table
                  thead
                    tr
                      th(class='check') 
                        input(type='checkbox' ng-click='selectAll()' ng-checked='isSelectedAll')
                      th(class='play')
                      th(class='date') Date
                      th(class='camera') Caméra
                      th(class='site') Site
                      th(class='handle') 
                    tbody
                      tr(ng-show='getNotHandledAlarms().length === 0') 
                        td
                        td Aucune alarme
                        td
                        td
                        td
                        td
                      tr(ng-repeat='x in alarms | filter: {handled:0} | orderBy: "-timestamp"', 
                      ng-click='playalarm(x.id)'
                      id='alarm-{{ x.id }}'
                      ng-class="{active: x.id==currentalarm.id}")
                        td(class='check')
                          input(type='checkbox' ng-checked='isSelected(x.id)' ng-click='updateSelection(x.id, $event)')
                        td(class='play')
                          span(class='glyphicon glyphicon-play')
                        td(class='date')
                           {{ x.timestamp*1000 | date:'dd/MM/yyyy - HH:mm' }}
                        td(class='camera') {{ x.cameraname }}
                        td(class='site') {{ x.sitename }}
                        td(class='handle')
                          button(ng-click='markashandled(x.id, $event)', ng-show='x.nbimages>0', title='Acquitter',class="button-primary") Acquitter

            div(class="alarmlist main-element hidden-lg hidden-md" ng-show="currentalarm === undefined")
              ul
                li(ng-show='getNotHandledAlarms().length === 0') Aucune alarme
                li(ng-repeat="x in  alarms | filter: {handled:0} | orderBy: '-timestamp'" ng-click="playalarm(x.id)") {{ x.timestamp*1000 | date:'dd/MM/yyyy - HH:mm' }}

            swiper(class="hidden-md hidden-lg",
                    ng-show='currentalarm !== undefined',
                    alarms='{{ alarms }}')
      
        div(class='col-xs-12 col-md-5 desktop-video-player hidden-xs hidden-sm')
            div(class='h6')
                span(ng-show='currentalarm!=undefined') {{currentalarm.timestamp | asdate}} {{currentalarm.cameraname}} ({{currentalarm.sitename}})
                span(ng-show='currentalarm==undefined') No alarm selected
            imageplayer(imgwidth=320, imgheight=240, alarm='currentalarm', currentalarm='currentalarm')
                    

  script(src='static/AlarmData.js')
  script(src='static/alarmviewer.js')
  script(src='static/accordion.js')
 
