extends ./MainTemplate.jade

block title
  title Vidéo en direct

block content
  div(class='container-fluid content')

    div(ng-controller='livecontroller')

        //- Mobile buttons
        div(class='actions hidden-lg hidden-md')
            button(class='button-secondary',
                    ng-click='selectedcamera = undefined',
                    ng-show='selectedcamera !== undefined')
                    span(class="glyphicon glyphicon-chevron-left") 
                    span Retour
        

        div(class='col-xs-12 main-element', id='camera-list', ng-show="selectedcamera === undefined")
            div(ng-repeat='(site, cams) in cameras track by $index' class='panel')
                h5
                    a(href='#collapse{{$index}}', data-toggle='collapse',
                    class="block-header", data-parent='#camera-list') {{ site }}
                div(id='collapse{{ $index }}',
                    class='collapse')
                        .row
                            div(ng-repeat='c in cams | orderBy: "id" track by $index', class="col-xs-6 col-md-3")
                                liveplayer(camera="c")

        liveswiper(class="hidden-md hidden-lg",
                    ng-show='selectedcamera !== undefined')


    script(src='static/AlarmData.js')
    script(src='static/async.min.js')
    script(src='static/livecontroller.js')