extends ./MainTemplate.jade

block title
  title Serveurs

block content
  div(class='container-fluid')
      div(ng-controller='servercontroller')

        //- Desktop buttons 
        div(class='actions hidden-xs hidden-sm')
            button(class="button-primary", ng-click='currentServer=""', ng-show='currentServer===undefined && serversForm.$pristine') Nouveau serveur

         //- Mobile buttons 
        div(class='actions hidden-lg hidden-md')

            button(class="button-secondary", ng-click='back()', ng-show="currentServer === undefined && serversForm.$pristine")
                span(class="glyphicon glyphicon-chevron-left") 
                span Paramètres
            button(class="button-primary", ng-click='currentServer=""', ng-show='currentServer===undefined && serversForm.$pristine') Ajouter

            button(class="button-secondary", ng-click='currentServer=undefined;serverMsg=undefined', ng-show="currentServer !== undefined") Annuler
            button(class="button-primary", ng-click='commitCurrentServer()', ng-show='currentServer!==undefined') Valider

        div(class="table-container hidden-xs hidden-sm", ng-show="currentServer === undefined")
            div(class='form-grid')
                div(class="grid-header")
                    span Adresse
                    span Port
                    span Login
                    span Description
                    span 
                    span
                div(class="grid-row", ng-repeat='x in servers')
                    span
                        input(type="text" ng-model="x.address")
                    span
                        input(type="text" ng-model="x.port")
                    span
                        input(type="text" ng-model="x.username")
                    span
                        input(type="text" ng-model="x.description")
                    span
                        span(class='glyphicon glyphicon-ok', ng-show='x.connected', title='Connected')
                        span(class='glyphicon glyphicon-alert', ng-show='!x.connected', title='Disconnected')
                    span
                        button(ng-click="deleteServer(x.id)", title="Delete server",  class="button-primary", ng-show="") Supprimer


        div(class="serverlist main-element hidden-md hidden-lg" id="serverlist", ng-show="currentServer === undefined")
            div(ng-repeat='x in servers', class='panel')
                h5
                    a(href='#collapse{{$index}}', data-toggle='collapse',
                        class="block-header", data-parent='#serverlist') {{ x.description }}
                div(id='collapse{{ $index }}', class='collapse')
                    form(name="serversForm{{ $index }}")
                        .form-group
                            label(for="address") Adresse
                            input(type="text", class="form-control",
                              id="address", ng-model="x.address")
                        .form-group
                            label(for="port") Port
                            input(type="text", class="form-control",
                              id="port", ng-model="x.port")
                        .form-group
                            label(for="username") Login
                            input(type="text", class="form-control",
                              id="username", ng-model="x.username")
                        .form-group
                            label(for="description") Description
                            input(type="text", class="form-control",
                              id="description", ng-model="x.description")
                        button(ng-click='deleteServer(x.id)', title='Supprimer le serveur', class="button-primary full-width", ng-show="serversForm{{ $index }}.$pristine") Supprimer le serveur
                        button(ng-click='', title='Valider', class="button-primary full-width", ng-show="serversForm{{ $index }}.$dirty") Valider



        div(id='newserver', ng-show='currentServer !== undefined' class="main-element col-xs-12 col-md-6 col-md-offset-3")
            .h4 Ajouter un serveur
            .form-group
                label(for='id') Adresse
                input(type='text', id='login' placeholder='Adresse', ng-model='currentServer.address', class="form-control")
            .form-group
                label(for='port') Port
                input(type='text', id='port' placeholder='Port', ng-model='currentServer.port', class="form-control")
            .form-group
                label(for='user') Login
                input(type='text', id='user' placeholder='Login', ng-model='currentServer.username', class="form-control")
            .form-group
                label(for='password') Mot de passe
                input(type='text', id='password' placeholder='Mot de passe', ng-model='currentServer.password', class="form-control")
            .form-group
                label(for='description') Description
                input(type='text', id='description' placeholder='Description', ng-model='currentServer.description', class="form-control")

            button(ng-click='currentServer=undefined;serverMsg=undefined',  class="button-secondary", ng-show="device === 'desktop'") Annuler
            button(ng-click='commitCurrentServer()', class="button-primary", ng-show="device === 'desktop'") Valider
        
        div(class='alert alert-warning space-before', ng-show='serverMsg!=undefined') {{ serverMsg }}


  script(src='static/EventSource4IE.js')
  script(src='static/EventSource.js')
  script(src='static/serverviewer.js')