extends ./MainTemplate.jade

block title
  title Serveurs

block content
  div(class='container-fluid')
      div(ng-controller='servercontroller')

        //- Desktop buttons 
        div(class='actions hidden-xs hidden-sm')
            button(class="button-primary", ng-click='newserver=""', ng-show='newserver === undefined') Nouveau serveur

         //- Mobile buttons 
        div(class='actions hidden-lg hidden-md')

            button(class="button-secondary", ng-click='back()', ng-show="newserver === undefined")
                span(class="glyphicon glyphicon-chevron-left") 
                span Paramètres
            button(class="button-primary", ng-click='newserver=""', ng-show='newserver===undefined') Ajouter

            button(class="button-secondary", ng-click='newserver=undefined;serverMsg=undefined', ng-show="newserver !== undefined") Annuler
            button(class="button-primary", ng-click='commitnewserver()', ng-show='newserver!==undefined') Valider

        div(class="table-container hidden-xs hidden-sm", ng-show="newserver === undefined")
            table
                thead
                    th Adresse
                    th Port
                    th Login
                    th Description
                    th 
                    th(class="colspan-2")
                tbody
                    tr(ng-repeat='x in servers')
                        td(ng-show="currentserver === undefined || currentserver.id !== x.id") {{ x.address }}
                        td(ng-show="currentserver !== undefined && currentserver.id === x.id")
                            input(type="text" ng-model="x.address")

                        td(ng-show="currentserver === undefined || currentserver.id !== x.id") {{ x.port }}
                        td(ng-show="currentserver !== undefined && currentserver.id === x.id")
                            input(type="text" ng-model="x.port")

                        td(ng-show="currentserver === undefined || currentserver.id !== x.id") {{ x.username }}
                        td(ng-show="currentserver !== undefined && currentserver.id === x.id")
                            input(type="text" ng-model="x.username")

                        td(ng-show="currentserver === undefined || currentserver.id !== x.id") {{ x.description }}
                        td(ng-show="currentserver !== undefined && currentserver.id === x.id")
                            input(type="text" ng-model="x.description")

                        td
                            span(class='glyphicon glyphicon-ok', ng-show='x.connected', title='Connected')
                            span(class='glyphicon glyphicon-alert', ng-show='!x.connected', title='Disconnected')
                        td(ng-show="currentserver === undefined || currentserver.id !== x.id")
                            button(ng-click="editserver(x.id)", title="Éditer le serveur", class="icon button-secondary-fill")
                                span(class="glyphicon glyphicon-edit")
                            button(ng-click="deleteserver(x.id)", title="Supprimer le serveur", class="icon button-primary-fill")
                                span(class="glyphicon glyphicon-trash")
                        td(ng-show="currentserver !== undefined && currentserver.id === x.id")
                            button(ng-click="resetserver(x.id)", title="Annuler", class="icon button-secondary-fill")
                                span(class="glyphicon glyphicon-remove")
                            button(title="Valider", class="icon button-primary-fill", ng-click="commit") 
                                span(class="glyphicon glyphicon-ok")





        div(class="serverlist main-element hidden-md hidden-lg" id="serverlist", ng-show="newserver === undefined")
            div(ng-repeat='x in servers', class='panel')
                h5
                    a(href='#collapse{{$index}}', data-toggle='collapse',
                        class="block-header", data-parent='#serverlist') {{ x.description }}
                div(id='collapse{{ $index }}', class='collapse')
                    form(name="serversForm{{ $index }}")
                        .form-group
                            label(for="address") Adresse
                            input(type="text", class="form-control",
                              id="address", ng-model="x.address")
                        .form-group
                            label(for="port") Port
                            input(type="text", class="form-control",
                              id="port", ng-model="x.port")
                        .form-group
                            label(for="username") Login
                            input(type="text", class="form-control",
                              id="username", ng-model="x.username")
                        .form-group
                            label(for="description") Description
                            input(type="text", class="form-control",
                              id="description", ng-model="x.description")
                        button(ng-click='deleteserver(x.id)', title='Supprimer le serveur', class="button-primary full-width", ng-show="serversForm{{ $index }}.$pristine") Supprimer le serveur
                        button(ng-click='', title='Valider', class="button-primary full-width", ng-show="serversForm{{ $index }}.$dirty") Valider



        div(id='newserver', ng-show='newserver !== undefined' class="main-element col-xs-12 col-md-6 col-md-offset-3")
            .h4 Ajouter un serveur
            .form-group
                label(for='id') Adresse
                input(type='text', id='login' placeholder='Adresse', ng-model='newserver.address', class="form-control")
            .form-group
                label(for='port') Port
                input(type='text', id='port' placeholder='Port', ng-model='newserver.port', class="form-control")
            .form-group
                label(for='user') Login
                input(type='text', id='user' placeholder='Login', ng-model='newserver.username', class="form-control")
            .form-group
                label(for='password') Mot de passe
                input(type='text', id='password' placeholder='Mot de passe', ng-model='newserver.password', class="form-control")
            .form-group
                label(for='description') Description
                input(type='text', id='description' placeholder='Description', ng-model='newserver.description', class="form-control")

            button(ng-click='newserver=undefined;serverMsg=undefined',  class="button-secondary", ng-show="device === 'desktop'") Annuler
            button(ng-click='commitnewserver()', class="button-primary", ng-show="device === 'desktop'") Valider
        
        div(class='alert alert-warning space-before', ng-show='serverMsg!=undefined') {{ serverMsg }}


  script(src='static/EventSource4IE.js')
  script(src='static/EventSource.js')
  script(src='static/serverviewer.js')