extends ./MainTemplate.jade

block title
  title Serveurs

block content

  div(class='container-fluid') 

      div(ng-controller='servercontroller')

        //- Desktop buttons 
        div(class='actions hidden-xs hidden-sm')
            button(class="button-primary-fill", ng-click='initemptyserver()', ng-show='newserver === undefined && currentserver === undefined') Nouveau serveur

         //- Mobile buttons 
        div(class='actions hidden-lg hidden-md')

            button(class="button-secondary", ng-click='back()')
                span(class="glyphicon glyphicon-chevron-left") 
                span Paramètres
            button(class="button-primary", ng-click='initemptyserver()', ng-show='newserver === undefined') Ajouter

        div(class="table-container hidden-xs hidden-sm")
            table
                col(style="width: 17%")
                col(style="width: 17%")
                col(style="width: 17%")
                col(style="width: 17%")
                col(style="width: 17%")
                col(style="width: 5%")
                col(style="width: 10%")
                thead
                    th Adresse
                    th Port
                    th Login
                    th Mot de passe
                    th Description
                    th 
                    th
                tbody
                    tr(ng-repeat='x in servers', ng-class="{active: currentserver !== undefined && currentserver.id === x.id}", ng-click="editserver(x.id)")
                        td(ng-show="currentserver === undefined || currentserver.id !== x.id") {{ x.address }}
                        td(ng-show="currentserver !== undefined && currentserver.id === x.id")
                            input(type="text" ng-model="currentserver.address", ng-click="$event.stopPropagation()")

                        td(ng-show="currentserver === undefined || currentserver.id !== x.id") {{ x.port }}
                        td(ng-show="currentserver !== undefined && currentserver.id === x.id")
                            input(type="text" ng-model="currentserver.port", ng-click="$event.stopPropagation()")

                        td(ng-show="currentserver === undefined || currentserver.id !== x.id") {{ x.username }}
                        td(ng-show="currentserver !== undefined && currentserver.id === x.id")
                            input(type="text" ng-model="currentserver.username", ng-click="$event.stopPropagation()")

                        td(ng-show="currentserver === undefined || currentserver.id !== x.id") {{ x.password }}
                        td(ng-show="currentserver !== undefined && currentserver.id === x.id")
                            input(type="text" ng-model="currentserver.password", ng-click="$event.stopPropagation()")

                        td(ng-show="currentserver === undefined || currentserver.id !== x.id") {{ x.description }}
                        td(ng-show="currentserver !== undefined && currentserver.id === x.id")
                            input(type="text" ng-model="currentserver.description", ng-click="$event.stopPropagation()")

                        td
                            span(class='glyphicon glyphicon-ok', ng-show='x.connected', title='Connected')
                            span(class='glyphicon glyphicon-alert', ng-show='!x.connected', title='Disconnected')

                        td(ng-show="currentserver === undefined || currentserver.id !== x.id")
                            button(ng-click="deleteserver(x.id); $event.stopPropagation()", title="Supprimer le serveur", class="icon button-primary-fill", ng-show="newserver === undefined")
                                span(class="glyphicon glyphicon-trash")

                        td(ng-show="currentserver !== undefined && currentserver.id === x.id")
                            button(ng-click="resetserver(); $event.stopPropagation()", title="Annuler", class="icon button-secondary-fill")
                                span(class="glyphicon glyphicon-remove")
                            button(title="Valider", class="icon button-primary-fill", ng-click="commitcurrentserver(); $event.stopPropagation()") 
                                span(class="glyphicon glyphicon-ok")

                    tr(ng-show="newserver !== undefined", class="active")
                        td
                            input(type="text" ng-model="newserver.address")
                        td
                            input(type="text" ng-model="newserver.port")
                        td
                            input(type="text" ng-model="newserver.username")
                        td
                            input(type="text" ng-model="newserver.password")
                        td
                            input(type="text" ng-model="newserver.description")
                        td
                        td
                            button(ng-click="newserver = undefined", title="Annuler", class="icon button-secondary-fill")
                                span(class="glyphicon glyphicon-remove")
                            button(title="Valider", class="icon button-primary-fill", ng-click="commitnewserver()") 
                                span(class="glyphicon glyphicon-ok")




        div(class="serverlist main-element hidden-md hidden-lg" id="serverlist", ng-show="newserver === undefined")
            div(ng-repeat='x in servers', class='panel')
                h5
                    a(href='#collapse{{$index}}', data-toggle='collapse',
                        class="block-header", data-parent='#serverlist', ng-click="editserver(x.id)") {{ x.description }}
                        span(class='glyphicon glyphicon-ok', ng-show='x.connected', title='Connected')
                        span(class='glyphicon glyphicon-alert', ng-show='!x.connected', title='Disconnected')
                div(id='collapse{{ $index }}', class='collapse')
                    form(name="serverform", ng-show="currentserver !== undefined && currentserver.id === x.id")
                        .form-group
                            label(for="address") Adresse
                            input(type="text", class="form-control",
                              id="address", ng-model="currentserver.address")
                        .form-group
                            label(for="port") Port
                            input(type="text", class="form-control",
                              id="port", ng-model="currentserver.port")
                        .form-group
                            label(for="username") Login
                            input(type="text", class="form-control",
                              id="username", ng-model="currentserver.username")
                        .form-group
                            label(for="username") Mot de passe
                            input(type="text", class="form-control",
                              id="password", ng-model="currentserver.password")
                        .form-group
                            label(for="description") Description
                            input(type="text", class="form-control",
                              id="description", ng-model="currentserver.description")
                        button(ng-click='deleteserver(x.id)', title='Supprimer le serveur', class="button-primary-fill full-width", ng-show="serverform.$pristine") Supprimer le serveur
                        button(ng-click="editserver(x.id); serverform.$setPristine()", title="Annuler", class="button-secondary-fill", ng-show="serverform.$dirty") Annuler
                        button(ng-click='commitcurrentserver()', title='Valider', class="button-primary-fill", ng-show="serverform.$dirty") Valider
             
         div(ng-show="newserver !== undefined", class="hidden-md hidden-lg")
            h5(class="block-header") Nouveau serveur
            form
                .form-group
                    label(for="address") Adresse
                    input(type="text", class="form-control",
                      id="address", ng-model="newserver.address")
                .form-group
                    label(for="port") Port
                    input(type="text", class="form-control",
                      id="port", ng-model="newserver.port")
                .form-group
                    label(for="username") Login
                    input(type="text", class="form-control",
                      id="username", ng-model="newserver.username")
                .form-group
                    label(for="username") Mot de passe
                    input(type="text", class="form-control",
                      id="password", ng-model="newserver.password")
                .form-group
                    label(for="description") Description
                    input(type="text", class="form-control",
                      id="description", ng-model="newserver.description")
                button(ng-click="newserver = undefined", title="Annuler", class="button-secondary-fill") Annuler
                button(ng-click='commitnewserver()', title='Valider', class="button-primary-fill") Valider


  script(src='static/EventSource4IE.js')
  script(src='static/EventSource.js')
  script(src='static/serverviewer.js')