doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui, user-scalable=no")
    meta(name="mobile-web-app-capable", content="yes")
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/bootstrap.min.js')
    script(src='/vendor/angular.js')
    script(src='/vendor/angular-translate.min.js')
    script(src='/vendor/angular-translate-loader-static-files.min.js')
    script(src='/vendor/angular-touch.min.js')
    script(src="/vendor/angular-animate.min.js")
    script(src='/app.min.js')
    link(rel="stylesheet", href="/vendor/bootstrap.min.css", media="screen")
    link(rel="stylesheet", href="/css/main.css", media="screen")
    title #{appName}
  body(ng-app='alarmviewer' class="ng-cloak", translate-cloak)

      div(class='container-fluid')

        header(class='hidden-xs hidden-sm')
          a(href="{{ 'FOXURL' | translate }}")
              img(src='/img/logo-foxstream.png')
          div(class="notifications hidden-xs hidden-sm notif-animation", ng-show="notification.show")
              p 
                span(ng-if="!notification.params") {{ notification.message | translate }}
                span(ng-if="notification.params") {{ notification.message | translate:notification.params }}
                i(class="glyphicon glyphicon-remove", ng-click="hidenotification()")
          h1(class='app-name') FoxWebAlarmPlayer

      nav(role='navigation', ng-controller='navbarcontroller')

          div(class="notifications hidden-md hidden-lg notif-animation", ng-show="notification.show")
            p
              span(ng-if="!notification.params") {{ notification.message | translate }}
              span(ng-if="notification.params") {{ notification.message | translate:notification.params }}
            i(class="glyphicon glyphicon-remove", ng-click="hidenotification()")

          ul
              li(ng-class='{ active: isActive("alarmview") }')
                  a(href="/alarmview"
                    class='nav-link') 
                      i(class='glyphicon glyphicon-alert') 
                      span(class='link') {{ 'ALARMS' | translate }}
                  span(class="navbar-notif", ng-show="alarmcounter > 0") {{ alarmcounter < 10 ? alarmcounter : '!' }}
              li(ng-class='{ active: isActive("live") }')
                  a(href="/live")
                    i(class='glyphicon glyphicon-play') 
                    span(class='link') {{ 'LIVE' | translate }}
              li(ng-class='{ active: isActive("accountsettings") || isActive("userview") || isActive("serverview") || isActive("logview") }',
                  ng-mouseover='showsubmenu = true',
                  ng-mouseleave='showsubmenu = false', ng-controller="servercontroller", class="settings-button")
                  a(href='/accountsettings')
                      i(class='glyphicon glyphicon-cog')
                      span(class='link') {{ 'SETTINGS' | translate }}
                      span(class="navbar-notif", ng-show="getDisconnectedServers().length > 0") !

                  div(class="submenu" ng-show='showsubmenu')
                    ul
                      li(ng-class='{ active: isActive("accountsettings") }')
                        a(href='/accountsettings')
                          span(class='link') {{ 'ACCOUNTSETTINGS' | translate }}
                      if user.type == 1
                          li(ng-class='{ active: isActive("serverview") }')
                            a(href='/serverview')
                              span(class='link') {{ 'SERVERS' | translate }}
                              span(class="navbar-notif", ng-show="getDisconnectedServers().length > 0") !
                          li(ng-class='{ active: isActive("userview") }')
                            a(href='/userview')
                              span(class='link') {{ 'USERS' | translate }}
                          li(ng-class='{ active: isActive("logview") }')
                            a(href='/logview')
                              span(class='link') {{ 'LOG' | translate }}
                      li
                        a(href='/logout')
                          span(class='link') {{ 'LOGOUT' | translate }}

              li(ng-mouseover='showLanguagePicker = true',
                  ng-mouseleave='showLanguagePicker = false',
                  class="hidden-xs hidden-sm lang-picker")
                  a(href="#")
                      span(class='link')
                        | {{ getCurrentLanguage() | uppercase }}

                  div(class="submenu language" ng-show='showLanguagePicker')
                    ul
                      li(ng-repeat="l in languages", ng-if="l !== getCurrentLanguage()")
                        a(href='#', ng-click="changeLanguage(l)")
                          span(class='link') {{ l | uppercase }}

              li(ng-click="$parent.help = !$parent.help"
                class="hidden-xs hidden-sm help-button",
                ng-class="{active: help}") ?


      div(class="page-content")
        block content